:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color-secondary: #2f303a;
  --bachgroun-button-portfolio: #f5f4fa;
}
body {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-black {
  color: black;
}
.logo-white {
  color: var(--primary-white-color);
}

/* site nav */
.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.site-nav a:hover {
  color: var(--accent-color);
}
/* auth nav */
.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* Заказ услуг */
.order {
  background: var(--background-color-secondary);
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order button {
  background: var(--accent-color);

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* наше преимущество */

.features .title {
  color: var(--title-text-color);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  line-height: 24px;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся */

/* Наша команда */
.team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Футер */
.footer {
  background-color: var(--background-color-secondary);
}
.address a {
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.contacts a {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
/* Навигация */

.navigation button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-text-color);
  background: var(--bachgroun-button-portfolio);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.navigation button:focus,
.navigation button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.title-portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-services {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
